<html>
  <title>Test Template</title>
  <body
    style="
      max-width:800px;
      margin:auto;
      padding: 20px;
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: white;
    "
  >
    <div style="background-color: #333; color: #fff; text-align:center;">
      <h1>RythMix</h1>
    </div>
    <div>
      <p>Hi</p>
      <p>This is to notify that you have successfully logged in.</p>
      <p>
        If you have not performed this action , please contact our support team
      </p>
    </div>
    <div style="background-color: #333; color: #fff; text-align:center;">
        <p>copyrights reserved</p>
    </div>
  </body>
</html>
